<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
>
    <testsuites>
        <testsuite name="DI">
            <directory>packages/dic/tests</directory>
        </testsuite>

        <testsuite name="Framework">
            <directory>packages/framework/tests</directory>
        </testsuite>

        <testsuite name="Wake">
            <directory>packages/wake/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/dic/src</directory>
            <directory>packages/framework/src</directory>
            <directory>packages/wake/src</directory>
        </include>
    </source>
    <extensions>
        <bootstrap class="DG\BypassFinals\PHPUnitExtension"/>
    </extensions>
</phpunit>
